<app-header></app-header>

<div class="bg-dark text-light">
    <div class="container d-flex align-items-stretch"  style="min-height: 85vh">
      
      <article class="d-flex flex-column justify-content-between w-100">
        <div class="d-flex flex-column w-100">
          <header class="d-flex align-items-center justify-content-between  w-100">
            <h1 class="pt-3">
              {{note_title}}
            </h1>
            <a class="m-0 pt-3" [routerLink]="" (click)="goToEditNote(note_id)">
              Edit
            </a>
          </header>
          <div>
            <hr>
            <p>
              {{note_text}}
            </p>
          </div>
        </div>
        <footer>
          <p class="text-right">
            Last Edit: {{date}}
          </p>
        </footer>
      </article>

    </div>
</div>